[submodule "Related Personal Projects/project-manager-PYTHON"]
	path = Related Personal Projects/project-manager-PYTHON
	url = https://gitlab.isima.fr/rovandemer/project-manager
[submodule "Related Personal Projects/project-manager"]
	path = Related Personal Projects/project-manager
	url = https://gitlab.isima.fr/rovandemer/project-manager
