[submodule "Related Personal Projects/project-manager-PYTHON"]
	path = Related Personal Projects/project-manager-PYTHON
	url = https://gitlab.isima.fr/rovandemer/project-manager
[submodule "Related Personal Projects/project-manager"]
	path = Related Personal Projects/project-manager
	url = https://gitlab.isima.fr/rovandemer/project-manager
[submodule "Web-Client/Projet"]
	path = Web-Client/Projet
	url = git@gitlab.isima.fr:mamirade/techno-web-client.git
[submodule "Related Personal Projects/homepage-2023"]
	path = Related Personal Projects/homepage-2023
	url = git@gitlab.isima.fr:rovandemer/homepage-2023.git
[submodule "ZITF"]
	path = ZITF
	url = git@gitlab.isima.fr:rovandemer/zitf.git
[submodule "Related Personal Projects/pandoc-filter"]
	path = Related Personal Projects/pandoc-filter
	url = git@gitlab.isima.fr:rovandemer/students-pandoc-filters.git
[submodule "POO/Projet"]
	path = POO/Projet
	url = git@gitlab.isima.fr:rovandemer/demineur.git
